language: python
dist: xenial
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - sudo apt-get install libcurl4-openssl-dev
  - pip install -r requirements.txt
  - cd htslib 
  - autoheader && autoconf
  - ./configure --enable-s3 --disable-lzma --disable-bz2
  - make
  - cd ..
  - python setup.py install

script:
  - python setup.py test
