include cyvcf2/tests/*
include LICENSE
include cyvcf2/*.pyx
include cyvcf2/*.pxd
include cyvcf2/*.c
include cyvcf2/*.h
include *.md
include htslib/*.c
include htslib/*.h
include htslib/htslib/*.h
include htslib/cram/*.c
include htslib/cram/*.h
